@charset "UTF-8";
/* Component */
/*【Media Box】 - Idea Curation Box */
.media-box {
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Noto Sans TC", sans-serif;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  /*策展專用*/
  /*作品專用*/
}

.media-box .media-image {
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

.media-box .media-image img {
  width: 100%;
  aspect-ratio: 16 / 9;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.media-box .media-info {
  padding: 24px;
}

.media-box .media-info .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.media-box .media-info .header .badge {
  background-color: #474747;
  color: white;
  padding: 4px 8px;
  border-radius: 5px;
  font-size: 14px;
}

.media-box .media-info .header .popular {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
}

.media-box .media-info .header .popular .likes {
  margin-right: 10px;
}

.media-box .media-info .header .popular .likes::before {
  content: "\f004";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  color: #505050;
}

.media-box .media-info .header .popular .views::before {
  content: "\f06e";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  color: #505050;
}

.media-box .media-info .title {
  font-size: 18px;
  line-height: 24px;
  margin: 8px 0px;
  text-align: justify;
}

.media-box .media-info .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
}

.media-box .media-info .footer li::before {
  font-family: "Font Awesome 6 Free", "Font Awesome 6 Brands";
  font-weight: 900;
}

.media-box .media-info .footer .idea::before {
  content: "\f02d";
}

.media-box .media-info .footer .youtube::before {
  content: "\f167";
}

.media-box .media-info .footer .google::before {
  content: "\f1a0";
}

.media-box .media-info .footer .pdf::before {
  content: "\f1c1";
}

.media-box .media-info .footer .link::before {
  content: "\f14c";
}

.media-box .media-footer {
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 24px 24px 24px;
}

.media-box .media-footer .date {
  font-size: 18px;
  color: #505050;
}

.media-box .media-footer .date span:not(:last-child)::after {
  content: "-";
  padding-left: 4px;
}

.media-box .media-footer .line {
  display: block;
  height: 2px;
  background-color: #505050;
  position: absolute;
  width: 60px;
  bottom: 24px;
  right: 24px;
  z-index: 3;
  -webkit-transition: all 0.3s 0.3s ease-in-out;
  transition: all 0.3s 0.3s ease-in-out;
}

.media-box .media-remark {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #d9d9d9;
  z-index: 2;
  color: #505050;
  font-size: 14px;
  line-height: 20px;
  max-height: 0;
  padding: 0px 24px 0px 24px;
  overflow: hidden;
  opacity: 0.3;
  -webkit-transition: opacity 0.3s linear, max-height 0.3s linear, padding 0.3s 0s linear;
  transition: opacity 0.3s linear, max-height 0.3s linear, padding 0.3s 0s linear;
}

.media-box .media-remark p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 8;
  overflow: hidden;
}

.media-box .icons {
  color: #cacaca;
}

.media-box .icons li.active {
  color: #505050;
}

.media-box .icons span {
  color: #505050;
  padding-left: 4px;
}

.media-box.curation .media-info .badge {
  background-color: var(--main-base-color);
}

.media-box.curation .media-info .badge::before {
  content: "策展";
}

.media-box.curation .media-info .footer li:not(.idea) {
  display: none;
}

.media-box.idea .media-info .badge {
  background-color: var(--main-symmetry-color);
}

.media-box.idea .media-info .badge::before {
  content: "作品";
}

.media-box.idea .media-info .footer li:not(.youtube) {
  margin-left: 10px;
}

.media-box.idea .media-info .footer li.idea {
  display: none;
}

/* Hover */
@media screen and (min-width: 768px) {
  .media-box:hover {
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }
  .media-box:hover .media-image img {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  .media-box:hover .media-remark {
    display: block;
    max-height: 450px;
    padding: 24px 24px 40px 24px;
    opacity: 1;
    -webkit-transition: opacity 0.3s linear, padding 0.3s 0s linear, max-height 0.3s linear;
    transition: opacity 0.3s linear, padding 0.3s 0s linear, max-height 0.3s linear;
  }
  .media-box:hover .media-footer .line {
    -webkit-animation: line-run 1s 0.3s forwards;
            animation: line-run 1s 0.3s forwards;
  }
}

@-webkit-keyframes line-run {
  0% {
    width: 60px;
    right: 24px;
  }
  30% {
    width: 0;
    right: 24px;
  }
  100% {
    left: 24px;
    width: calc(100% - 48px);
  }
}

@keyframes line-run {
  0% {
    width: 60px;
    right: 24px;
  }
  30% {
    width: 0;
    right: 24px;
  }
  100% {
    left: 24px;
    width: calc(100% - 48px);
  }
}

/*【Media Boxes】 - Idea Curation Box Group*/
.media-boxes {
  padding: 20px;
}

.media-boxes > a {
  padding: 20px;
}

.media-boxes .title-block {
  width: 100%;
  text-align: center;
}

.media-boxes .title-block h3 {
  font-weight: 900;
  font-size: 24px;
  color: white;
}

.media-boxes.hidden {
  background-color: var(--main-base-light-color);
}

@media screen and (min-width: 900px) {
  .media-boxes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
  .media-boxes > a {
    width: calc(100% / 2);
    min-width: 300px;
  }
  .media-boxes .media-box {
    width: 100%;
    height: 350px;
  }
  .media-boxes .media-box .media-image img {
    -webkit-filter: grayscale(0.3);
            filter: grayscale(0.3);
  }
}

@media screen and (min-width: 1200px) {
  .media-boxes > a {
    width: calc(100% / 3);
  }
}

@media screen and (min-width: 1500px) {
  .media-boxes > a {
    width: calc(100% / 4);
  }
}

/*【Media Main】 - Idea Curation Show */
.media-main .media-header .media-image img {
  width: 100%;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.media-main .media-header .media-title {
  margin-bottom: 10px;
}

.media-main .media-header .media-title h2 {
  font-size: 30px;
  font-weight: 900;
}

.media-main .media-header .media-depiction {
  color: #397197;
  font-weight: 900;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 10px;
}

.media-main .media-tags .tag {
  display: inline-block;
  font-size: 12px;
  font-weight: normal;
  padding: 4px 8px;
  background-color: var(--main-base-light-color);
  border-radius: 999px;
  color: white;
  margin-bottom: 4px;
  margin-right: 2px;
}

.media-main .media-buttons {
  margin: 10px 0px;
}

.media-main .media-body {
  margin-top: 40px;
  padding: 20px 0px;
  border-top: 1px solid #d1d4db;
}

.media-main .media-body .media-captions {
  border-bottom: 1px solid #d1d4db;
}

.media-main .media-body .media-captions .caption {
  margin-bottom: 20px;
}

.media-main .media-body .media-captions .caption-title {
  display: inline-block;
  font-size: 16px;
  padding: 6px 20px;
  background-color: #397197;
  border-radius: 999px;
  color: white;
}

.media-main .media-body .media-captions .caption-info {
  padding: 10px 20px;
}

@media screen and (max-width: 900px) {
  .media-main .media-title {
    margin-top: 20px;
  }
  .media-main .media-depiction {
    margin: 10px 0px;
  }
}

@media screen and (min-width: 900px) {
  .media-main .media-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .media-main .media-header .media-image,
  .media-main .media-header .media-info {
    width: 50%;
  }
  .media-main .media-header .media-info {
    padding: 0px 20px;
  }
}

/*【Media Modules】 -Idea 組件顯示 */
.module-btns {
  margin-bottom: 20px;
}

.module-btns .btn {
  font-size: 20px;
  font-weight: 900;
  padding: 5px 10px;
  background-color: var(--main-symmetry-color);
  color: var(--main-base-color);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  border-radius: 5px;
  cursor: pointer;
  -webkit-filter: grayscale(80%);
          filter: grayscale(80%);
}

.module-btns .btn:hover, .module-btns .btn.active {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.module-btns .btn + .btn {
  margin-left: 5px;
}

.module-btns .btn.google::before, .module-btns .btn.youtube::before, .module-btns .btn.pdf::before, .module-btns .btn.link::before {
  font-family: "Font Awesome 6 Free", "Font Awesome 6 Brands";
  font-weight: 900;
  margin-right: 4px;
}

.module-btns .btn.google::before {
  content: "\f1a0";
}

.module-btns .btn.youtube::before {
  content: "\f167";
}

.module-btns .btn.pdf::before {
  content: "\f1c1";
}

.module-btns .btn.link::before {
  content: "\f14c";
}

.module-show {
  max-width: 100%;
  border-radius: 5px;
  overflow: hidden;
}

.module-show iframe {
  width: 100%;
  height: auto !important;
  aspect-ratio: 16/9;
}

.module-show .link {
  padding: 20px 10px;
  border-radius: 5px;
  background-color: var(--main-light-color);
}

.module-show .link p {
  color: var(--main-base-color);
  font-weight: 900;
}

.module-show .link a {
  color: #7474ff;
  text-decoration: underline;
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
}

.module-show .link a:hover {
  color: var(--main-symmetry-color);
}
/*# sourceMappingURL=component.css.map */