/* Component */
/*【Media Box】 - Idea Curation Box */
.media-box {
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: "Noto Sans TC", sans-serif;
  transition: all 0.3s linear;
  .media-image {
    width: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
  }
  .media-image img {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    transition: all 0.3s linear;
  }

  .media-info {
    padding: 24px;
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .badge {
        background-color: rgb(71, 71, 71);
        color: white;
        padding: 4px 8px;
        border-radius: 5px;
        font-size: 14px;
      }
      .popular {
        display: flex;
        font-size: 14px;
        .likes {
          margin-right: 10px;
        }
        .likes::before {
          content: "\f004";
          font-family: "Font Awesome 6 Free";
          font-weight: 900;
          color: #505050;
        }
        .views::before {
          content: "\f06e";
          font-family: "Font Awesome 6 Free";
          font-weight: 900;
          color: #505050;
        }
      }
    }
    .title {
      font-size: 18px;
      line-height: 24px;
      margin: 8px 0px;
      text-align: justify;
    }
    .footer {
      display: flex;
      font-size: 14px;
      li::before {
        font-family: "Font Awesome 6 Free", "Font Awesome 6 Brands";
        font-weight: 900;
      }
      .idea::before {
        content: "\f02d";
      }
      .youtube::before {
        content: "\f167";
      }
      .google::before {
        content: "\f1a0";
      }
      .pdf::before {
        content: "\f1c1";
      }
      .link::before {
        content: "\f14c";
      }
    }
  }

  .media-footer {
    margin-top: auto;
    display: flex;
    padding: 0px 24px 24px 24px;
    .date {
      font-size: 18px;
      color: #505050;
      span:not(:last-child)::after {
        content: "-";
        padding-left: 4px;
      }
    }
    .line {
      display: block;
      height: 2px;
      background-color: #505050;
      position: absolute;
      width: 60px;
      bottom: 24px;
      right: 24px;
      z-index: 3;
      transition: all 0.3s 0.3s ease-in-out;
    }
  }

  .media-remark {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #d9d9d9;
    z-index: 2;
    color: #505050;
    font-size: 14px;
    line-height: 20px;
    max-height: 0;
    padding: 0px 24px 0px 24px;
    overflow: hidden;
    opacity: 0.3;
    transition: opacity 0.3s linear, max-height 0.3s linear, padding 0.3s 0s linear;
    p {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 8;
      overflow: hidden;
    }
  }

  .icons {
    color: rgb(202, 202, 202);
    li.active {
      color: #505050;
    }
    span {
      color: #505050;
      padding-left: 4px;
    }
  }

  /*策展專用*/
  &.curation {
    .media-info {
      .badge {
        background-color: var(--main-base-color);
        &::before {
          content: "策展";
        }
      }
      .footer {
        li:not(.idea) {
          display: none;
        }
      }
    }
  }
  /*作品專用*/
  &.idea {
    .media-info {
      .badge {
        background-color: var(--main-symmetry-color);
        &::before {
          content: "作品";
        }
      }
      .footer {
        li:not(.youtube) {
          margin-left: 10px;
        }
        li.idea {
          display: none;
        }
      }
    }
  }
}
/* Hover */
@media screen and (min-width: 768px) {
  .media-box:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    .media-image img {
      filter: grayscale(0);
      transform: scale(1.2);
    }
    .media-remark {
      display: block;
      max-height: 450px;
      padding: 24px 24px 40px 24px;
      opacity: 1;
      transition: opacity 0.3s linear, padding 0.3s 0s linear, max-height 0.3s linear;
    }
    .media-footer .line {
      animation: line-run 1s 0.3s forwards;
    }
  }
}

@keyframes line-run {
  0% {
    width: 60px;
    right: 24px;
  }
  30% {
    width: 0;
    right: 24px;
  }
  100% {
    left: 24px;
    width: calc(100% - 48px);
  }
}

/*【Media Boxes】 - Idea Curation Box Group*/
.media-boxes {
  padding: 20px;
  > a {
    padding: 20px;
  }
  .title-block{
    width: 100%;
    text-align: center;
    h3{
      font-weight: 900;
      font-size: 24px;
      color: white;
    }
  }
  &.hidden{
    background-color: var(--main-base-light-color);
  }
}
@media screen and (min-width: 900px) {
  .media-boxes {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    > a {
      width: calc(100% / 2);
      min-width: 300px;
    }
    .media-box {
      width: 100%;
      height: 350px;
      .media-image img {
        filter: grayscale(0.3);
      }
    }
  }
}
@media screen and (min-width: 1200px) {
  .media-boxes {
    > a {
      width: calc(100% / 3);
    }
  }
}
@media screen and (min-width: 1500px) {
  .media-boxes {
    > a {
      width: calc(100% / 4);
    }
  }
}

/*【Media Main】 - Idea Curation Show */
.media-main {
  .media-header {
    .media-image img {
      width: 100%;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
    .media-title {
      margin-bottom: 10px;
    }
    .media-title h2 {
      font-size: 30px;
      font-weight: 900;
    }
    .media-depiction {
      color: #397197;
      font-weight: 900;
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 10px;
    }
  }
  .media-tags {
    .tag {
      display: inline-block;
      font-size: 12px;
      font-weight: normal;
      padding: 4px 8px;
      background-color: var(--main-base-light-color);
      border-radius: 999px;
      color: white;
      margin-bottom: 4px;
      margin-right: 2px;
    }
  }
  .media-buttons {
    margin: 10px 0px;
  }

  .media-body {
    margin-top: 40px;
    padding: 20px 0px;
    border-top: 1px solid rgb(209, 212, 219);
    .media-captions {
      border-bottom: 1px solid rgb(209, 212, 219);
      .caption {
        margin-bottom: 20px;
      }
      .caption-title {
        display: inline-block;
        font-size: 16px;
        padding: 6px 20px;
        background-color: #397197;
        border-radius: 999px;
        color: white;
      }
      .caption-info {
        padding: 10px 20px;
      }
    }
  }
}

.media-main {
  >.media-footer {
    box-shadow: 0 0 5px var(--main-base-color);
    background-color: var(--main-base-color);
    margin: 0px -20px;
    .other-ideas {
      width: 100%;
      padding: 10px 20px;
      display: flex;
      .prev {
        border-right: 1px solid white;
        margin-right: auto;
      }
      .next{
        border-left: 1px solid white;
        margin-left: auto;
      }
      .prev,
      .next {
        width: 50%;
        padding: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .prev .arrow,
      .next .arrow {
        color: #ffffff;
        font-size: 20px;
        width: 30px;
        height: 30px;
        line-height: 30px;
      }
      .idea-info .title {
        height: 1em;
        color: #ffffff;
        overflow: hidden;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .media-main {
    .media-title {
      margin-top: 20px;
    }
    .media-depiction {
      margin: 10px 0px;
    }
  }
}
@media screen and (min-width: 768px) {
  .media-main {
    >.media-footer {
      box-shadow: none;
      background-color: transparent;
      .other-ideas {
        .prev .arrow,
        .next .arrow {
          color: var(--main-base-color);
        }
        .idea-info {
          flex: 1 1  auto;
          text-align: center;
        }
        .idea-info .title {
          color: var(--main-base-color);
          font-weight: 900;
        }
        .prev,.next{
          border-color:var(--main-base-color);
          transition: all .3s linear;
          &:hover{
             background-color:var(--main-base-color);
             .arrow,.idea-info .title {
              color:white
             }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 900px) {
  .media-main {
    .media-header {
      display: flex;
      .media-image,
      .media-info {
        width: 50%;
      }
      .media-info {
        padding: 0px 20px;
      }
    }
  }
}

/*【Media Modules】 -Idea 組件顯示 */

.module-btns {
  margin-bottom: 20px;
  .btn {
    font-size: 20px;
    font-weight: 900;
    padding: 5px 10px;
    background-color: var(--main-symmetry-color);
    color: var(--main-base-color);
    transition: all 0.3s linear;
    border-radius: 5px;
    cursor: pointer;
    filter: grayscale(80%);
    &:hover,
    &.active {
      filter: grayscale(0%);
    }
    & + .btn {
      margin-left: 5px;
    }
    &.google,&.youtube,&.pdf,&.link{
      &::before{
        font-family: "Font Awesome 6 Free", "Font Awesome 6 Brands";
        font-weight: 900;
        margin-right: 4px;
      }
    }
    &.google::before{
      content: "\f1a0";
    }

    &.youtube::before{
      content: "\f167";
    }

    &.pdf::before{
      content: "\f1c1";
    }

    &.link::before{
      content: "\f14c";
    }
  }
}
.module-show {
  max-width: 100%;
  border-radius: 5px;
  overflow: hidden;
  iframe{
    width: 100%;
    height: auto !important;
    aspect-ratio: 16/9;
  }
  .link{
    padding: 20px 10px;
    border-radius: 5px;
    background-color: var(--main-light-color);
    p{
      color:var(--main-base-color);
      font-weight: 900;
    }
    a{
      color:rgb(116, 116, 255);
      text-decoration: underline;
      transition: all .1s linear;
      &:hover{
        color: var(--main-symmetry-color);
      }
    }
  }
}
