@charset "UTF-8";
.main-header {
  z-index: 9999;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.main-header .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 10px;
  background-color: var(--main-base-color);
  -webkit-box-shadow: 0 0 5px var(--main-base-color);
          box-shadow: 0 0 5px var(--main-base-color);
}

.main-header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-header .logo img {
  width: 120px;
  height: auto;
}

#menu-check,
#header-check,
#user-check,
.menu-header-close {
  display: none;
}

/*手機*/
@media screen and (max-width: 767px) {
  .main-header .main-nav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--main-light-color);
    padding: 20px;
  }
  .main-header .main-nav .link-list {
    margin-bottom: 20px;
  }
  .main-header .main-nav .link {
    text-align: center;
    font-size: 18px;
    font-weight: 900;
    line-height: 30px;
    color: var(--main-base-color);
  }
  .main-header .main-nav .link + .link {
    margin-top: 10px;
  }
  .main-header .main-nav .user {
    display: block;
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.1);
  }
  .main-header .main-nav .user .user-info {
    display: none;
  }
  .main-header .menu-hb {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: relative;
  }
  .main-header .menu-hb::before,
  .main-header .menu-hb::after,
  .main-header .menu-hb span::before {
    content: "";
    width: 100%;
    height: 2px;
    background-color: var(--main-light-color);
    position: absolute;
  }
  .main-header .menu-hb::before {
    top: 0;
    -webkit-transition: top 0.5s 0.5s, -webkit-transform 0.5s;
    transition: top 0.5s 0.5s, -webkit-transform 0.5s;
    transition: top 0.5s 0.5s, transform 0.5s;
    transition: top 0.5s 0.5s, transform 0.5s, -webkit-transform 0.5s;
  }
  .main-header .menu-hb span::before {
    top: calc(50% - (2px / 2));
    -webkit-transition: opacity 2s 1s;
    transition: opacity 2s 1s;
  }
  .main-header .menu-hb::after {
    bottom: 0px;
    -webkit-transition: bottom 0.5s 0.5s, -webkit-transform 0.5s;
    transition: bottom 0.5s 0.5s, -webkit-transform 0.5s;
    transition: bottom 0.5s 0.5s, transform 0.5s;
    transition: bottom 0.5s 0.5s, transform 0.5s, -webkit-transform 0.5s;
  }
  #menu-check:checked ~ .main-header .main-nav {
    display: block;
  }
  #menu-check:checked ~ .main-header .menu-hb::before {
    top: calc(50% - (2px / 2));
    -webkit-transform: rotate(225deg);
            transform: rotate(225deg);
    -webkit-transition: top 0.5s, -webkit-transform 0.5s 0.5s;
    transition: top 0.5s, -webkit-transform 0.5s 0.5s;
    transition: top 0.5s, transform 0.5s 0.5s;
    transition: top 0.5s, transform 0.5s 0.5s, -webkit-transform 0.5s 0.5s;
  }
  #menu-check:checked ~ .main-header .menu-hb span::before {
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
  }
  #menu-check:checked ~ .main-header .menu-hb::after {
    bottom: calc(50% - (2px / 2));
    -webkit-transform: rotate(495deg);
            transform: rotate(495deg);
    -webkit-transition: bottom 0.5s, -webkit-transform 0.5s 0.5s;
    transition: bottom 0.5s, -webkit-transform 0.5s 0.5s;
    transition: bottom 0.5s, transform 0.5s 0.5s;
    transition: bottom 0.5s, transform 0.5s 0.5s, -webkit-transform 0.5s 0.5s;
  }
  .menu-logo {
    display: none;
  }
}

/*電腦版*/
@media screen and (min-width: 768px) {
  .main-header .menu-logo {
    width: 180px;
    top: 35px;
    opacity: 1;
    position: fixed;
    -webkit-transition: 0.5s 1s linear;
    transition: 0.5s 1s linear;
    background-color: var(--main-base-color);
    padding: 10px 0px;
  }
  .main-header .menu-logo img {
    height: 30px;
    margin: auto;
    display: block;
  }
  .main-header .menu-header-close {
    display: block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    position: relative;
    cursor: pointer;
  }
  .main-header .menu-header-close:before {
    content: "";
    position: absolute;
    height: 2px;
    width: 15px;
    top: 5px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    background-color: #fff;
    -webkit-transition: 0.1s linear;
    transition: 0.1s linear;
  }
  .main-header .menu-header-close::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 15px;
    top: 15px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    background-color: #fff;
    -webkit-transition: 0.1s linear;
    transition: 0.1s linear;
  }
  .main-header .menu-header-close:hover:before {
    top: 10px;
  }
  .main-header .menu-header-close:hover::after {
    top: 10px;
  }
  .main-header .wrap {
    position: fixed;
    z-index: 999;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 50px;
    width: 100px;
    overflow: hidden;
    top: 25px;
    left: -100px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: transparent;
    -webkit-box-shadow: 0 0 5px transparent;
            box-shadow: 0 0 5px transparent;
    display: flex;
    -webkit-transition: background-color 2s 0.5s linear, left 0.5s 0s linear, width 0.5s 0s linear;
    transition: background-color 2s 0.5s linear, left 0.5s 0s linear, width 0.5s 0s linear;
  }
  .main-header .logo {
    margin-right: auto;
  }
  .main-header .main-nav {
    display: none;
  }
  .main-header .main-nav .link-list,
  .main-header .main-nav .user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-header .main-nav .user {
    border: 2px solid var(--main-light-color);
    border-radius: 99px;
    background-color: var(--main-base-color);
    padding: 4px;
  }
  .main-header .main-nav .user .user-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
  }
  .main-header .main-nav .user .user-info .user-pic {
    height: 30px;
    width: auto;
    aspect-ratio: 1/1;
    border-radius: 50%;
  }
  .main-header .main-nav .user .user-info .user-name {
    margin: 0px 10px;
    font-weight: 900;
    color: white;
  }
  .main-header .main-nav .user .login {
    display: none;
  }
  .main-header .link a {
    padding: 20px;
    font-size: 16px;
    font-weight: 900;
    color: var(--main-light-color);
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  .main-header .link a:hover {
    color: var(--main-symmetry-color);
  }
  .main-header .menu-hb {
    display: none;
  }
  /*打開Menu*/
  #header-check:checked ~ .main-header .menu-logo {
    opacity: 0;
    -webkit-transition: 0.3s linear;
    transition: 0.3s linear;
  }
  #header-check:checked ~ .main-header .wrap {
    padding: 5px 10px;
    width: 90%;
    left: 5%;
    background-color: var(--main-base-color);
    -webkit-box-shadow: 0 0 5px var(--main-base-color);
            box-shadow: 0 0 5px var(--main-base-color);
    background-color: #153051e0;
    -webkit-backdrop-filter: blur(4px);
            backdrop-filter: blur(4px);
    -webkit-transition: 0.3s 0.3s linear;
    transition: 0.3s 0.3s linear;
  }
  #header-check:checked ~ .main-header .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  /*打開設定選單*/
  #user-check:checked ~ .main-header .main-nav .user .login {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  /*選單動畫*/
  .main-nav .user span {
    height: 20px;
    width: 10px;
    margin-left: 10px;
    position: relative;
    cursor: pointer;
  }
  .main-nav .user span::before {
    content: '';
    width: 10px;
    height: 2px;
    position: absolute;
    background-color: white;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transition: top .3s linear ,-webkit-transform .1s linear;
    transition: top .3s linear ,-webkit-transform .1s linear;
    transition: top .3s linear ,transform .1s linear;
    transition: top .3s linear ,transform .1s linear ,-webkit-transform .1s linear;
    top: 6px;
  }
  .main-nav .user span::after {
    content: '';
    width: 11px;
    height: 2px;
    top: 13px;
    position: absolute;
    background-color: white;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transition: top .3s linear ,-webkit-transform .1s linear;
    transition: top .3s linear ,-webkit-transform .1s linear;
    transition: top .3s linear ,transform .1s linear;
    transition: top .3s linear ,transform .1s linear ,-webkit-transform .1s linear;
  }
  .main-nav .user:hover span::before {
    -webkit-transform: translateX(-4px) rotate(-45deg);
            transform: translateX(-4px) rotate(-45deg);
  }
  .main-nav .user:hover span::after {
    -webkit-transform: translateX(-4px) rotate(45deg);
            transform: translateX(-4px) rotate(45deg);
  }
  #user-check:checked ~ .main-header .main-nav .user {
    position: absolute;
    right: 10px;
  }
  #user-check:checked ~ .main-header .main-nav .user span::before {
    top: 13px;
  }
  #user-check:checked ~ .main-header .main-nav .user span::after {
    content: '';
    top: 6px;
  }
  #user-check:checked ~ .main-header .main-nav .user:hover span::before {
    -webkit-transform: translateX(0px) rotate(-45deg);
            transform: translateX(0px) rotate(-45deg);
  }
  #user-check:checked ~ .main-header .main-nav .user:hover span::after {
    -webkit-transform: translateX(0px) rotate(45deg);
            transform: translateX(0px) rotate(45deg);
  }
  #user-check:checked ~ .main-header .main-nav .user span:hover::before {
    -webkit-transform: translateX(4px) rotate(-45deg);
            transform: translateX(4px) rotate(-45deg);
  }
  #user-check:checked ~ .main-header .main-nav .user span:hover::after {
    -webkit-transform: translateX(4px) rotate(45deg);
            transform: translateX(4px) rotate(45deg);
  }
}

@media screen and (min-width: 900px) {
  .main-header .menu-logo {
    width: 200px;
  }
}
/*# sourceMappingURL=header.css.map */