.main-header {
  z-index: 9999;
  position: sticky;
  top: 0;

  .wrap {
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    background-color: var(--main-base-color);
    box-shadow: 0 0 5px var(--main-base-color);
  }

  .logo {
    display: flex;
    align-items: center;
  }
  .logo img {
    width: 120px;
    height: auto;
  }
}

#menu-check,
#header-check,
#user-check,
.menu-header-close {
  display: none;
}

/*手機*/
@media screen and (max-width: 767px) {
  .main-header {
    .main-nav {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background-color: var(--main-light-color);
      padding: 20px;
      .link-list {
        margin-bottom: 20px;
      }
      .link {
        text-align: center;
        font-size: 18px;
        font-weight: 900;
        line-height: 30px;
        color: var(--main-base-color);
        & + .link {
          margin-top: 10px;
        }
      }
      .user {
        display: block;
        margin-top: 10px;
        background-color: rgba(0,0,0,.1);
        .user-info {
            display: none;
          }
        }
    }

    .menu-hb {
      width: 20px;
      height: 20px;
      cursor: pointer;
      position: relative;
    }
    .menu-hb::before,
    .menu-hb::after,
    .menu-hb span::before {
      content: "";
      width: 100%;
      height: 2px;
      background-color: var(--main-light-color);
      position: absolute;
    }
    //上
    .menu-hb::before {
      top: 0;
      transition: top 0.5s 0.5s, transform 0.5s;
    }
    //中
    .menu-hb span::before {
      top: calc(50% - (2px / 2));
      transition: opacity 2s 1s;
    }
    //下
    .menu-hb::after {
      bottom: 0px;
      transition: bottom 0.5s 0.5s, transform 0.5s;
    }
  }

  #menu-check:checked ~ .main-header .main-nav {
    display: block;
  }

  #menu-check:checked ~ .main-header .menu-hb {
    //上
    &::before {
      top: calc(50% - (2px / 2));
      transform: rotate(225deg);
      transition: top 0.5s, transform 0.5s 0.5s;
    }
    //中
    span::before {
      opacity: 0;
      transition: opacity 0.3s;
    }
    //下
    &::after {
      bottom: calc(50% - (2px / 2));
      transform: rotate(495deg);
      transition: bottom 0.5s, transform 0.5s 0.5s;
    }
  }
  .menu-logo {
    display: none;
  }
}



/*電腦版*/
@media screen and (min-width: 768px) {
  .main-header {
    .menu-logo {
      width: 180px;
      top: 35px;
      opacity: 1;
      position: fixed;
      transition: 0.5s 1s linear;
      background-color: var(--main-base-color);
      padding: 10px 0px;
      img {
        height: 30px;
        margin: auto;
        display: block;
      }
    }

    .menu-header-close {
      display: block;
      width: 20px;
      height: 20px;
      margin-right: 10px;
      position: relative;
      cursor: pointer;
      &:before {
        content: "";
        position: absolute;
        height: 2px;
        width: 15px;
        top: 5px;
        transform: rotate(-45deg);
        background-color: #fff;
        transition: 0.1s linear;
      }
      &::after {
        content: "";
        position: absolute;
        height: 2px;
        width: 15px;
        top: 15px;
        transform: rotate(45deg);
        background-color: #fff;
        transition: 0.1s linear;
      }
      &:hover {
        &:before {
          top: 10px;
        }
        &::after {
          top: 10px;
        }
      }
    }

    .wrap {
      position: fixed;
      z-index: 999;
      display: flex;
      height: 50px;
      width: 100px;
      overflow: hidden;
      top: 25px;
      left: -100px;
      justify-content: space-between;
      align-items: center;
      background-color: transparent;
      box-shadow: 0 0 5px transparent;
      display: flex;
      transition: background-color 2s 0.5s linear, left 0.5s 0s linear, width 0.5s 0s linear;
    }

    .logo {
      margin-right: auto;
    }

    .main-nav {
      display: none;
    }
    .main-nav .link-list,
    .main-nav .user {
      display: flex;
      align-items: center;
    }
    .main-nav .user {
      border: 2px solid var(--main-light-color);
      border-radius: 99px;
      background-color: var(--main-base-color);
      padding: 4px;
      .user-info {
        display: flex;
        align-items: center;
        cursor: pointer;
        .user-pic {
          height: 30px;
          width: auto;
          aspect-ratio: 1/1;
          border-radius: 50%;
        }
        .user-name {
          margin: 0px 10px;
          font-weight: 900;
          color: white;
        }
      }
      .login {
        display: none;
      }
    }
    .link a {
      padding: 20px;
      font-size: 16px;
      font-weight: 900;
      color: var(--main-light-color);
      transition: all 0.3s linear;
      &:hover {
        color: var(--main-symmetry-color);
      }
    }
    .menu-hb {
      display: none;
    }

  }


  /*打開Menu*/
  #header-check:checked ~ .main-header .menu-logo {
    opacity: 0;
    transition: 0.3s linear;
  }
  #header-check:checked ~ .main-header .wrap {
    padding: 5px 10px;
    width: 90%;
    left: 5%;
    background-color: var(--main-base-color);
    box-shadow: 0 0 5px var(--main-base-color);
    background-color: #153051e0;
    backdrop-filter: blur(4px);
    transition: 0.3s 0.3s linear;
  }
  #header-check:checked ~ .main-header .main-nav {
    display: flex;
  }

   /*打開設定選單*/
   #user-check:checked ~ .main-header .main-nav .user .login {
    display: flex;
  }
  /*選單動畫*/
  //選端動畫
  .main-nav .user span{
    height: 20px;
    width: 10px;
    margin-left: 10px;
    position: relative;
    cursor: pointer;
    &::before{
      content: '';
      width: 10px;
      height: 2px;
      position: absolute;
      background-color: white;
      transform: rotate(-45deg);
      transform-origin: center;
      transition: top .3s linear ,transform .1s linear;
      top: 6px;
    }
    &::after{
      content: '';
      width: 11px;
      height: 2px;
      top: 13px;
      position: absolute;
      background-color: white;
      transform: rotate(45deg);
      transform-origin: center;;
      transition: top .3s linear ,transform .1s linear;;
    }
  }
  .main-nav .user:hover  span{
    &::before{
      transform: translateX(-4px) rotate(-45deg);
    }
    &::after{
      transform: translateX(-4px) rotate(45deg);
    }
  }
  #user-check:checked ~ .main-header .main-nav .user{
    position: absolute;
    right: 10px;
  }
  #user-check:checked ~ .main-header .main-nav .user span{
    &::before{
      top: 13px;

    }
    &::after{
      content: '';
      top: 6px;
    }
  }

  #user-check:checked ~ .main-header .main-nav .user:hover span{
    &::before{
      transform: translateX(0px) rotate(-45deg);
    }
    &::after{
      transform: translateX(0px) rotate(45deg);
    }
  }

  #user-check:checked ~ .main-header .main-nav .user span:hover{
    &::before{
      transform: translateX(4px) rotate(-45deg);
    }
    &::after{
      transform: translateX(4px) rotate(45deg);
    }
  }
}

@media screen and (min-width: 900px) {
  .main-header {
    .menu-logo {
      width: 200px;
    }
  }
}

