.slick-box {
    height: 100%;
    border-radius: 20px;
    box-shadow: 3px 2px 5px #d0d3d9;
    overflow: hidden;
    background-color: white;
}

.slick-box-info {
    text-align: center;
    margin-bottom: 20px;
}

.slick-box-badge {
    position: absolute;
    padding: 10px 0px 0px 10px;
    font-size: 18px;
}

.slick-box-badge span {
    padding: 5px 10px 5px 10px;
}

.slick-track {
    margin-left: 0;
}

.slick-popular-box {
    padding: 0 10px;
    font-size: 8px;
    color: #6c7c87;
}

.slick-popular-item {
    display: inline-block;
    margin-left: 5px;
}

.slick-popular-item i {
    margin-right: 2px;
}