<!DOCTYPE html>
<html lang="zh-tw">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo X</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <input type="checkbox" id="menu-check">
    <input type="checkbox" id="header-check" checked>
    <input type="checkbox" id="user-check">
    <header class="main-header">
        <label class="menu-logo" for="header-check">
            <img src="https://demox.tw/static/page/setting/logo-w.d6e001a47b68.svg" alt="">
        </label>
        <div class="wrap">
            <label class="menu-header-close" for="header-check">
                <span></span>
            </label>
            <div class="logo">
                <a href="#">
                    <h1 class="sr-only">Demo X</h1>
                    <img src="https://demox.tw/static/page/setting/logo-w.d6e001a47b68.svg" alt="">
                </a>
            </div>
            <nav class="main-nav">
                <ul class="link-list">
                    <li class="link active">
                        <a href="#">探索</a>
                    </li>
                    <li class="link">
                        <a href="#">作品</a>
                    </li>
                    <li class="link">
                        <a href="#">策展</a>
                    </li>
                    <li class="link">
                        <a href="#">搜尋</a>
                    </li>
                    <label class="user" for="user-check">
                        <span></span>
                        <ul class="login">
                            <li class="link">
                                <a href="#">使用說明</a>
                            </li>
                            <li class="link">
                                <a href="#">建立作品</a>
                            </li>
                            <li class="link">
                                <a href="#">建立策展</a>
                            </li>
                            <li class="link">
                                <a href="#">個人資料</a>
                            </li>
                            <li class="link">
                                <a href="#">登出</a>
                            </li>
                        </ul>
                        <div class="user-info">
                            <p class="user-name">嗨，陳品宏</p>
                            <img class="user-pic" src="img/user.svg" alt="">
                        </div>
                    </label>
                </ul>
            </nav>
            <label class="menu-hb" for="menu-check">
                <span></span>
            </label>
        </div>
    </header>
    <main id="app" class="curation">
        <div class="mask-shadow"></div>
        <div class="side-block">
            <div class="side-bgc">
                <img :src="banner" alt="">
            </div>
            <button class="navBtn">
                <a href="javascript: history.go(-1)">返回</a>
            </button>
        </div>
        <div class="main-block">
            <div class="container">
                <div class="media-main">
                    <div class="media-header">
                        <div class="media-image">
                            <img :src="banner" alt="">
                        </div>
                        <div class="media-info">
                            <div class="media-title">
                                <h2>[[name]]</h2>
                            </div>
                            <div class="media-depiction">
                                <p>[[depiction]]</p>
                            </div>
                            <div class="media-tags">
                                <div class="tag" v-for="tag in tags">[[tag]]</div>
                            </div>
                            <div class="media-buttons">
                                <button type="button" class="btn-like" :class=" like.liked ? 'active' : ''"
                                    @click="likeHandler"><i class="far fa-heart"></i><span>[[like.num]]</span>人</button>
                            </div>
                        </div>
                    </div>
                    <div class="media-body">
                        <div class="media-captions">
                            <!--策展簡介-->
                            <div class="caption" v-for="caption in captions">
                                <div class="caption-title">
                                    [[ caption.name ]]
                                </div>
                                <div class="caption-info ckeditor" v-html="caption.content">
                                </div>
                            </div>
                            <!--策展簡介 End-->
                        </div>
                        <div class="media-boxes">
                            <!--組件-->
                            <a :href="item.url" onclick="return leaveMask(this);" v-for="item in items">
                                <article class="media-box" :class="item.type">
                                    <div class="media-image">
                                        <img :src="item.banner" alt="">
                                    </div>
                                    <div class="media-info">
                                        <div class="header">
                                            <div class="badge"></div>
                                            <ul class="popular icons">
                                                <li class="likes"><span>[[ item.like ]]</span></li>
                                                <li class="views"><span>[[ item.views ]]</span></li>
                                            </ul>
                                        </div>
                                        <div class="title">
                                            <p>[[ item.name ]]</p>
                                        </div>
                                        <ul class="footer icons">
                                            <li v-for="(e, key) in item.include" :class="[ e ? 'active' : '', key ]">
                                                <span v-if="item.type == 'curation'"> [[ e ]] </span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="media-footer">
                                        <div class="date">
                                            [[ item.date ]]
                                        </div>
                                        <span class="line"></span>
                                    </div>
                                    <div class="media-remark">
                                        <p>[[ item.depiction ]]
                                        </p>
                                    </div>
                                </article>
                            </a>
                            <!--組件 End-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="js/main.js"></script>
    <script>
        let dataOrg = {
            id: 20,
            userId: 22,
            type: 'curation',
            name: '推動大學程式設計教學 學校虛實整合成果展-慈濟大學',
            banner: 'https://demox.tw/media/img/curation/image/blob_UaXqwgN.webp',
            depiction: '這門課是程式設計的初階課程，學生在學習 Python 和 Pandas 後，可組隊發想、設計一個小專題。專題的內容包含解決生活問題的小工具、遊戲或是一些資料分析的成果。',
            tags: ['Coding101', '@國立臺灣師範大學', '逢甲大學', '政治大學', '教育部計畫', '2022Coding101', '臺灣師範大學', '程式設計', '通識課程', '專題競賽'],
            like: {
                num: 12,
                liked: false,
            },
            captions: [{
                name: '說明',
                content: `  <div class="tab" style="display: block;">
                                <p dir="ltr">本競賽之目的在鼓勵非資訊領域科系學習程式設計的在學大學生，故資格限定如下：</p>
                                <ol>
                                    <li dir="ltr">
                                        <p dir="ltr"><strong>以團隊方式進行，每隊報名人數為二至五人，需指導教授一名。</strong></p>
                                    </li>
                                    <li dir="ltr">
                                        <p dir="ltr"><strong>109 學年度下學期 或
                                                110學年度上學期有修習過或正在修習程式設計入門課程之非資訊相關科系學生。</strong></p>
                                    </li>
                                </ol>
                            </div>`

            },
            {
                name: '說明',
                content: `  <div class="tab" style="display: block;">
                                <p dir="ltr">本競賽之目的在鼓勵非資訊領域科系學習程式設計的在學大學生，故資格限定如下：</p>
                                <ol>
                                    <li dir="ltr">
                                        <p dir="ltr"><strong>以團隊方式進行，每隊報名人數為二至五人，需指導教授一名。</strong></p>
                                    </li>
                                    <li dir="ltr">
                                        <p dir="ltr"><strong>109 學年度下學期 或
                                                110學年度上學期有修習過或正在修習程式設計入門課程之非資訊相關科系學生。</strong></p>
                                    </li>
                                </ol>
                            </div>`

            }],
            items: [
                {
                    name: '推動大學程式設計教學 學校虛實整合成果展-慈濟大學',
                    depiction: '這門課是程式設計的初階課程，學生在學習 Python 和 Pandas 後，可組隊發想、設計一個小專題。專題的內容包含解決生活問題的小工具、遊戲或是一些資料分析的成果。',
                    banner: 'https://demox.tw/media/img/curation/image/blob_UaXqwgN.webp',
                    type: 'curation',
                    url: 'idea-detail.html',
                    like: 10,
                    views: 20,
                    include: {
                        idea: 3,
                        youtube: 1,
                        google: 2,
                        pdf: 2,
                        link: 0,
                    },
                    date: '2022-04-20',
                },
                {
                    name: '有色眼鏡',
                    depiction: '<有色眼鏡>為第一人稱視角的虛擬實境遊戲。遊戲中，玩家必須透過更換、尋找不同顏色的眼鏡解謎。遊戲性的方式，讓玩家體驗主角從幼年、壯年、老年的人生經歷，並從遊玩的過程中，體會主角一路走來慢慢放下偏見的成長歷程。',
                    banner: 'https://demox.tw/media/img/idea/cover_image/blob_2fdopdl.webp',
                    type: 'idea',
                    url: 'idea-detail.html',
                    like: 10,
                    views: 20,
                    include: {
                        idea: 3,
                        youtube: 1,
                        google: 2,
                        pdf: 0,
                        link: 3,
                    },
                    date: '2022-04-20',
                },
                {
                    name: '推動大學程式設計教學 學校虛實整合成果展-慈濟大學',
                    depiction: '這門課是程式設計的初階課程，學生在學習 Python 和 Pandas 後，可組隊發想、設計一個小專題。專題的內容包含解決生活問題的小工具、遊戲或是一些資料分析的成果。',
                    banner: 'https://demox.tw/media/img/curation/image/blob_UaXqwgN.webp',
                    type: 'curation',
                    url: 'idea-detail.html',
                    like: 10,
                    views: 20,
                    include: {
                        idea: 3,
                        youtube: 1,
                        google: 2,
                        pdf: 2,
                        link: 0,
                    },
                    date: '2022-04-20',
                },
                {
                    name: '有色眼鏡',
                    depiction: '<有色眼鏡>為第一人稱視角的虛擬實境遊戲。遊戲中，玩家必須透過更換、尋找不同顏色的眼鏡解謎。遊戲性的方式，讓玩家體驗主角從幼年、壯年、老年的人生經歷，並從遊玩的過程中，體會主角一路走來慢慢放下偏見的成長歷程。',
                    banner: 'https://demox.tw/media/img/idea/cover_image/blob_2fdopdl.webp',
                    type: 'idea',
                    url: 'idea-detail.html',
                    like: 10,
                    views: 20,
                    include: {
                        idea: 3,
                        youtube: 1,
                        google: 2,
                        pdf: 0,
                        link: 3,
                    },
                    date: '2022-04-20',
                },

            ]
        }
        Vue.createApp({
            data() { return dataOrg },
            compilerOptions: {
                delimiters: ['[[', ']]']
            },
            methods: {
                likeHandler() {
                    if (this.userId)
                    //準備post資料如果成功
                    {
                        if (this.like.liked)
                        {
                            new Noty({type: 'success',layout: 'topCenter',text: '已收回讚',timeout: 2000,}).show();
                            this.like.num -= 1
                            this.like.liked = false
                        } else
                        {
                            new Noty({type: 'success',layout: 'topCenter',text: '已按讚',timeout: 2000,}).show();
                            this.like.num += 1
                            this.like.liked = true
                        }

                    }
                    else
                    {
                        new Noty({ type: 'error', layout: 'topCenter', text: '此操作需要登入', timeout: 2000, }).show();
                    }
                },
            },
        }).mount('#app');

    </script>

    <script>
        // window.onload = leaveMaskRemove()
        function leaveMask(e) {
            let url = e.href
            window.location.href = url;
            //待解決
            // const main = document.querySelector('main')
            // main.classList.add('leave')
            // main.addEventListener("animationend", (e) => {
            //     //確認為離場動畫完成
            //     if (e.animationName == 'mainLeave')
            //     {
            //         window.location.href = url;
            //     }
            // });
            return false
        }
    </script>
</body>

</html>