<!DOCTYPE html>
<html lang="zh-tw">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo X</title>
    <link rel="stylesheet" href="css/style.css">
    <!-- Swiper CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <!-- Aos CSS -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!-- Bgc CSS -->
    <style>
        :root {
            --bg-gradient: linear-gradient(to right, #ffffff, #fadaf8);
        }

        body {
            background: var(--bg-gradient);
        }

        .orb-canvas {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            pointer-events: none;
            z-index: -1;
        }
    </style>
</head>

<body>
    <input type="checkbox" id="menu-check">
    <input type="checkbox" id="header-check" checked>
    <input type="checkbox" id="user-check">
    <header class="main-header">
        <label class="menu-logo" for="header-check">
            <img src="https://demox.tw/static/page/setting/logo-w.d6e001a47b68.svg" alt="">
        </label>
        <div class="wrap">
            <label class="menu-header-close" for="header-check">
                <span></span>
            </label>
            <div class="logo">
                <a href="index.html">
                    <h1 class="sr-only">Demo X</h1>
                    <img src="https://demox.tw/static/page/setting/logo-w.d6e001a47b68.svg" alt="">
                </a>
            </div>
            <nav class="main-nav">
                <ul class="link-list">
                    <li class="link active">
                        <a href="search.html">探索</a>
                    </li>
                    <li class="link">
                        <a href="idea-list.html">作品</a>
                    </li>
                    <li class="link">
                        <a href="curation-list.html">策展</a>
                    </li>
                    <label class="user" for="user-check">
                        <span></span>
                        <ul class="login">
                            <li class="link">
                                <a href="https://hackmd.io/@bitify/demox">使用說明</a>
                            </li>
                            <li class="link">
                                <a href="setting-idea-add.html">建立作品</a>
                            </li>
                            <li class="link">
                                <a href="setting-curation-add.html">建立策展</a>
                            </li>
                            <li class="link">
                                <a href="setting-profile.html">個人資料</a>
                            </li>
                            <li class="link">
                                <a href="#">登出</a>
                            </li>
                        </ul>
                        <div class="user-info">
                            <p class="user-name">嗨，陳品宏</p>
                            <img class="user-pic" src="img/user.svg" alt="">
                        </div>
                    </label>
                </ul>
            </nav>
            <label class="menu-hb" for="menu-check">
                <span></span>
            </label>
        </div>
    </header>
    <canvas class="orb-canvas"></canvas>
    <main class="idea-list" id="app">
        <!-- 我的作品 -->
        <section class="section-idea-list fade" v-show="idea.user.length">
            <div class="container">
                <div class="header-block" data-aos="zoom-out-right" data-aos-duration="500">
                    <p class="title rainbow-text active">
                        <span class="text">
                            <span class="_t">我</span>
                            <span class="_t">的</span>
                            <span class="_t">作</span>
                            <span class="_t">品</span>
                        </span>
                    </p>
                    <a href="setting-idea-list.html" class="link">前往編輯</a>
                </div>
                <div class="content" data-aos="zoom-out-up" data-aos-delay="300" data-aos-duration="1000">
                    <div class="media-boxes">
                        <a href="idea-detail.html" v-for="(item, index) in idea.user" v-show ="index < show.user">
                            <article class="media-box" :class="item.type">
                                <div class="media-image">
                                    <img :src="item.banner" alt="">
                                </div>
                                <div class="media-info">
                                    <div class="header">
                                        <div class="badge"></div>
                                        <ul class="popular icons">
                                            <li class="likes"><span>[[ item.like ]]</span></li>
                                            <li class="views"><span>[[ item.views ]]</span></li>
                                        </ul>
                                    </div>
                                    <div class="title">
                                        <p>[[ item.name ]]</p>
                                    </div>
                                    <ul class="footer icons">
                                        <li v-for="(e, key) in item.include"
                                            :class="[ e ? 'active' : '', key ]">
                                            <span v-if="item.type == 'curation'"> [[ e ]] </span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="media-footer">
                                    <div class="date">
                                        [[ item.date ]]
                                    </div>
                                    <span class="line"></span>
                                </div>
                                <div class="media-remark">
                                    <p>[[ item.depiction ]]
                                    </p>
                                </div>
                            </article>
                        </a>
                    </div>
                    <div class="btn-block">
                        <button class="btn-more" @click="show.user += 4" v-show="idea.user.length > show.user">載入更多</button>
                    </div>
                </div>
            </div>
        </section>
        <!-- 觀摩作品 -->
        <section class="section-idea-list fade" v-show="idea.observe.length">
            <div class="container">
                <div class="header-block" data-aos="zoom-out-right" data-aos-duration="500">
                    <p class="title rainbow-text active">
                        <span class="text">
                            <span class="_t">觀</span>
                            <span class="_t">摩</span>
                            <span class="_t">中</span>
                            <span class="_t">作</span>
                            <span class="_t">品</span>
                        </span>
                    </p>
                    <a href="setting-idea-observe.html?func=view_idea" class="link">前往編輯</a>
                </div>
                <div class="content" data-aos="zoom-out-up" data-aos-delay="300" data-aos-duration="1000">
                    <div class="media-boxes">
                        <a href="idea-detail.html" v-for="(item, index) in idea.observe" v-show ="index < show.observe">
                            <article class="media-box" :class="item.type">
                                <div class="media-image">
                                    <img :src="item.banner" alt="">
                                </div>
                                <div class="media-info">
                                    <div class="header">
                                        <div class="badge"></div>
                                        <ul class="popular icons">
                                            <li class="likes"><span>[[ item.like ]]</span></li>
                                            <li class="views"><span>[[ item.views ]]</span></li>
                                        </ul>
                                    </div>
                                    <div class="title">
                                        <p>[[ item.name ]]</p>
                                    </div>
                                    <ul class="footer icons">
                                        <li v-for="(e, key) in item.include"
                                            :class="[ e ? 'active' : '', key ]">
                                            <span v-if="item.type == 'curation'"> [[ e ]] </span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="media-footer">
                                    <div class="date">
                                        [[ item.date ]]
                                    </div>
                                    <span class="line"></span>
                                </div>
                                <div class="media-remark">
                                    <p>[[ item.depiction ]]
                                    </p>
                                </div>
                            </article>
                        </a>
                    </div>
                    <div class="btn-block">
                        <button class="btn-more" @click="show.observe += 4" v-show="idea.observe.length > show.observe">載入更多</button>
                    </div>
                </div>    
            </div>
        </section>
          <!-- 已按讚作品 -->
          <section class="section-idea-list fade" v-show="idea.like.length">
            <div class="container">
                <div class="header-block" data-aos="zoom-out-right" data-aos-duration="500">
                    <p class="title rainbow-text active">
                        <span class="text">
                            <span class="_t">喜</span>
                            <span class="_t">歡</span>
                            <span class="_t">的</span>
                            <span class="_t">作</span>
                            <span class="_t">品</span>
                        </span>
                    </p>
                </div>
                <div class="content" data-aos="zoom-out-up" data-aos-delay="300" data-aos-duration="1000">
                    <div class="media-boxes">
                        <a href="idea-detail.html" v-for="(item, index) in idea.like" v-show ="index < show.like">
                            <article class="media-box" :class="item.type">
                                <div class="media-image">
                                    <img :src="item.banner" alt="">
                                </div>
                                <div class="media-info">
                                    <div class="header">
                                        <div class="badge"></div>
                                        <ul class="popular icons">
                                            <li class="likes"><span>[[ item.like ]]</span></li>
                                            <li class="views"><span>[[ item.views ]]</span></li>
                                        </ul>
                                    </div>
                                    <div class="title">
                                        <p>[[ item.name ]]</p>
                                    </div>
                                    <ul class="footer icons">
                                        <li v-for="(e, key) in item.include"
                                            :class="[ e ? 'active' : '', key ]">
                                            <span v-if="item.type == 'curation'"> [[ e ]] </span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="media-footer">
                                    <div class="date">
                                        [[ item.date ]]
                                    </div>
                                    <span class="line"></span>
                                </div>
                                <div class="media-remark">
                                    <p>[[ item.depiction ]]
                                    </p>
                                </div>
                            </article>
                        </a>
                    </div>
                    <div class="btn-block">
                        <button class="btn-more" @click="show.like += 4" v-show="idea.like.length > show.like">載入更多</button>
                    </div>
                </div>
            </div>
        </section>
         <!-- 最新作品 -->
         <section class="section-idea-list fade" v-show="idea.latest.length">
            <div class="container">
                <div class="header-block" data-aos="zoom-out-right" data-aos-duration="500">
                    <p class="title rainbow-text active">
                        <span class="text">
                            <span class="_t">最</span>
                            <span class="_t">新</span>
                            <span class="_t">的</span>
                            <span class="_t">作</span>
                            <span class="_t">品</span>
                        </span>
                    </p>
                    <a href="search.html" class="link">探索更多</a>
                </div>
                <div class="content" data-aos="zoom-out-up" data-aos-delay="300" data-aos-duration="1000">
                    <div class="media-boxes">
                        <a href="idea-detail.html" v-for="(item, index) in idea.latest" v-show ="index < show.latest">
                            <article class="media-box" :class="item.type">
                                <div class="media-image">
                                    <img :src="item.banner" alt="">
                                </div>
                                <div class="media-info">
                                    <div class="header">
                                        <div class="badge"></div>
                                        <ul class="popular icons">
                                            <li class="likes"><span>[[ item.like ]]</span></li>
                                            <li class="views"><span>[[ item.views ]]</span></li>
                                        </ul>
                                    </div>
                                    <div class="title">
                                        <p>[[ item.name ]]</p>
                                    </div>
                                    <ul class="footer icons">
                                        <li v-for="(e, key) in item.include"
                                            :class="[ e ? 'active' : '', key ]">
                                            <span v-if="item.type == 'curation'"> [[ e ]] </span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="media-footer">
                                    <div class="date">
                                        [[ item.date ]]
                                    </div>
                                    <span class="line"></span>
                                </div>
                                <div class="media-remark">
                                    <p>[[ item.depiction ]]
                                    </p>
                                </div>
                            </article>
                        </a>
                    </div>
                    <div class="btn-block">
                        <button class="btn-more" @click="show.latest += 4" v-show="idea.latest.length > show.latest">載入更多</button>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="main-footer">
        <div class="container">
            <div class="main-block">
                <span class="footer-bar"></span>
                <ul class="footer-start sub-block">
                    <p class="footer-subtitle">開始使用</p>
                    <li><a href="setting-idea-list.html">DemoX Setting</a></li>
                    <li><a href="setting-idea-add.html">建立作品</a></li>
                    <li><a href="setting-curation-add.html">建立策展</a></li>
                    <li><a href="setting-profile.html?func=master_apply">成為策展人</a></li>
                    <li><a href="https://hackmd.io/@bitify/demox">使用說明</a></li>
                </ul>
                <ul class="footer-about sub-block">
                    <p class="footer-subtitle">Demo X</p>
                    <li><a href="#">OpenEdu</a></li>
                    <li><a href="#">推動大學程式設計教學計畫</a></li>
                </ul>
                <ul class="footer-rule sub-block">
                    <p class="footer-subtitle">網站規範</p>
                    <li><a href="privacy-policy.html">隱私權規範</a></li>
                    <li><a href="disclaimer.html">免責聲明</a></li>
                </ul>
                <ul class="footer-contact sub-block">
                    <p class="footer-subtitle">聯絡我們</p>
                    <li>xxxxx@demox.tw</li>
                </ul>
            </div>
            <div class="copyright">
                DEMO X © 2022
            </div>
        </div>
    </footer>
    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <!-- AOS JS -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <!-- ScrollMagic JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"
        integrity="sha256-2p2tRZlPowp3P/04Pw2rqVCSbhyV/IB7ZEVUglrDS/c=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/animation.gsap.js"
        integrity="sha256-peenofh8a9TIqKdPKIeQE7mJvuwh+J0To7nslvpj1jI=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.js"
        integrity="sha256-31FC/OT6XpfjAhj9FuXjw5/wPXXawCAjJQ29E23/XPk=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"
        integrity="sha256-lPE3wjN2a7ABWHbGz7+MKBJaykyzqCbU96BJWjio86U=" crossorigin="anonymous"></script>
    <!-- AXIOS JS -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.3/axios.min.js'
        integrity='sha512-0qU9M9jfqPw6FKkPafM3gy2CBAvUWnYVOfNPDYKVuRTel1PrciTj+a9P3loJB+j0QmN2Y0JYQmkBBS8W+mbezg=='
        crossorigin='anonymous'></script>
    <script type="module" src="js/bgc.js"></script>
    <script src="js/main.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script>
        Vue.createApp({
            data() {
                return {
                   idea: {
                       user: [],
                       observe:[],
                       like:[],
                       latest:[],
                   },
                   show:{
                        user:4,
                        observe:4,
                        like:4,
                        latest:4
                   }
                }
            },
            compilerOptions: {
                delimiters: ['[[', ']]']
            },
            created() {
                this.dataGet()
            },
            methods: {
                dataGet() {
                    axios.get('json/search.json')
                        .then((response) => {
                            this.idea.user = response.data.items
                            this.idea.observe = response.data.items
                            this.idea.like = response.data.items
                            this.idea.latest = response.data.items
                        })
                        .catch((error) => { console.error(error) })
                },
            },
        }).mount('#app');
    </script>
    
    <script>
        AOS.init();
    </script>
</body>

</html>