<!DOCTYPE html>
<html lang="zh-tw">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo X</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <input type="checkbox" id="menu-check">
    <input type="checkbox" id="header-check" checked>
    <input type="checkbox" id="user-check">
    <header class="main-header">
        <label class="menu-logo" for="header-check">
            <img src="https://demox.tw/static/page/setting/logo-w.d6e001a47b68.svg" alt="">
        </label>
        <div class="wrap">
            <label class="menu-header-close" for="header-check">
                <span></span>
            </label>
            <div class="logo">
                <a href="index.html">
                    <h1 class="sr-only">Demo X</h1>
                    <img src="https://demox.tw/static/page/setting/logo-w.d6e001a47b68.svg" alt="">
                </a>
            </div>
            <nav class="main-nav">
                <ul class="link-list">
                    <li class="link active">
                        <a href="search.html">探索</a>
                    </li>
                    <li class="link">
                        <a href="idea-list.html">作品</a>
                    </li>
                    <li class="link">
                        <a href="curation-list.html">策展</a>
                    </li>
                    <label class="user" for="user-check">
                        <span></span>
                        <ul class="login">
                            <li class="link">
                                <a href="https://hackmd.io/@bitify/demox">使用說明</a>
                            </li>
                            <li class="link">
                                <a href="setting-idea-add.html">建立作品</a>
                            </li>
                            <li class="link">
                                <a href="setting-curation-add.html">建立策展</a>
                            </li>
                            <li class="link">
                                <a href="setting-profile.html">個人資料</a>
                            </li>
                            <li class="link">
                                <a href="#">登出</a>
                            </li>
                        </ul>
                        <div class="user-info">
                            <p class="user-name">嗨，陳品宏</p>
                            <img class="user-pic" src="img/user.svg" alt="">
                        </div>
                    </label>
                </ul>
            </nav>
            <label class="menu-hb" for="menu-check">
                <span></span>
            </label>
        </div>
    </header>

    <main class="idea in" id="app">
        <div class="side-block">
            <div class="side-bgc">
                <img :src="banner" alt="">
            </div>
            <button class="navBtn">
                <a href="javascript: history.go(-1)">返回</a>
            </button>
        </div>
        <div class="main-block">
            <div class="container">
                <div class="media-main">
                    <div class="media-header">
                        <div class="media-image">
                            <img :src="banner" alt="">
                        </div>
                        <div class="media-info">
                            <div class="media-title">
                                <h2>[[ name ]]</h2>
                            </div>
                            <div class="media-depiction">
                                <p>[[ depiction ]]</p>
                            </div>
                            <div class="media-tags">
                                <div class="tag" v-for="tag in tags">[[tag]]</div>
                            </div>
                            <div class="media-buttons">
                                <button type="button" class="btn-like" :class=" like.liked ? 'active' : ''"
                                @click="likeHandler"><i class="far fa-heart"></i><span>[[like.num]]</span>人</button>
                            </div>
                        </div>
                    </div>
                    <div class="media-body">

                        <div class="media-modules">
                            <div class="module-btns drag-scroll">
                                <button class="btn" :class=" [ module.type , key==showingModule.order?'active':''] "
                                    v-for="(module,key) in modules" @click="moduleShow(key)">
                                    [[ module.name ]]
                                </button>
                            </div>
                            <div class="module-show" :class="[showingModule.updating ? 'module-changing':'' ]"
                                v-if="showingModule.content">
                                <div class="link" v-if="showingModule.content.type == 'link'">
                                    <p>[[showingModule.content.name]] <a
                                            :href="showingModule.content.url">[[showingModule.content.url]]</a> </p>
                                </div>
                                <iframe v-else :src="showingModule.content.url" :key="showingModule.order"
                                    frameborder="0" width="100%" height="569" allowfullscreen="true"
                                    mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="js/main.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script>
        let dataOrg = {
            id: 20,
            userId: 22,
            type: 'idea',
            name: '推動大學程式設計教學 學校虛實整合成果展-慈濟大學',
            banner: 'https://demox.tw/media/img/curation/image/blob_UaXqwgN.webp',
            depiction: '這門課是程式設計的初階課程，學生在學習 Python 和 Pandas 後，可組隊發想、設計一個小專題。專題的內容包含解決生活問題的小工具、遊戲或是一些資料分析的成果。',
            tags: ['Coding101', '@國立臺灣師範大學', '逢甲大學', '政治大學', '教育部計畫', '2022Coding101', '臺灣師範大學', '程式設計', '通識課程', '專題競賽'],
            like: {
                num: 12,
                liked: false,
            },
            showingModule: {
                updating: true,
                order: 0,
                content: {
                }
            },
            modules: [
                {
                    name: '說明簡報1',
                    type: 'google',
                    url: 'https://docs.google.com/presentation/d/e/2PACX-1vTXrGti1nh6xfNqtvtCfZV1YFtjwqagUz_e6l1LFabTzFuee62bGXL6DB4x4yW4zgnnoQF42yflGyIZ/embed?start=false&amp;loop=false&amp;delayms=3000',
                },
                {
                    name: '說明簡報',
                    type: 'youtube',
                    url: 'https://www.youtube.com/embed/NoQPSMJlggk',
                },
                {
                    name: '說明簡報2',
                    type: 'google',
                    url: 'https://docs.google.com/presentation/d/e/2PACX-1vTXrGti1nh6xfNqtvtCfZV1YFtjwqagUz_e6l1LFabTzFuee62bGXL6DB4x4yW4zgnnoQF42yflGyIZ/embed?start=false&amp;loop=false&amp;delayms=3000',
                },
                {
                    name: '說明簡報2',
                    type: 'google',
                    url: 'https://docs.google.com/presentation/d/e/2PACX-1vTXrGti1nh6xfNqtvtCfZV1YFtjwqagUz_e6l1LFabTzFuee62bGXL6DB4x4yW4zgnnoQF42yflGyIZ/embed?start=false&amp;loop=false&amp;delayms=3000',
                },
                {
                    name: '說明簡報說明簡報2說明簡報2說明簡報2說明簡報2說明簡報2說明簡報2說明簡報22',
                    type: 'google',
                    url: 'https://docs.google.com/presentation/d/e/2PACX-1vTXrGti1nh6xfNqtvtCfZV1YFtjwqagUz_e6l1LFabTzFuee62bGXL6DB4x4yW4zgnnoQF42yflGyIZ/embed?start=false&amp;loop=false&amp;delayms=3000',
                },
                {
                    name: '說明簡報2',
                    type: 'google',
                    url: 'https://docs.google.com/presentation/d/e/2PACX-1vTXrGti1nh6xfNqtvtCfZV1YFtjwqagUz_e6l1LFabTzFuee62bGXL6DB4x4yW4zgnnoQF42yflGyIZ/embed?start=false&amp;loop=false&amp;delayms=3000',
                },
                {
                    name: '連結',
                    type: 'link',
                    url: 'https://tw.yahoo.com/',
                },
            ],
        }
        Vue.createApp({
            data() { return dataOrg },
            compilerOptions: {
                delimiters: ['[[', ']]']
            },
            methods: {
                moduleShow(key) {
                    this.showingModule.order = key
                },
                likeHandler() {
                    if (this.userId)
                    //準備post資料如果成功
                    {
                        if (this.like.liked)
                        {
                            new Noty({type: 'success',layout: 'topCenter',text: '已收回讚',timeout: 2000,}).show();
                            this.like.num -= 1
                            this.like.liked = false
                        } else
                        {
                            new Noty({type: 'success',layout: 'topCenter',text: '已按讚',timeout: 2000,}).show();
                            this.like.num += 1
                            this.like.liked = true
                        }

                    }
                    else
                    {
                        new Noty({ type: 'error', layout: 'topCenter', text: '此操作需要登入', timeout: 2000, }).show();
                    }
                },
            },
            watch: {
                //監測showing Module .order 是否有改變 
                'showingModule.order': {
                    handler() {
                        this.showingModule.updating = true
                        this.showingModule.content = this.modules[this.showingModule.order]
                    },
                    immediate: true,
                },
                'showingModule.updating': {
                    handler() {
                        if (this.showingModule.updating)
                        {
                            setTimeout(() => { this.showingModule.updating = false }, 1000)
                        }
                    },
                    immediate: true,
                }
            }
        }).mount('#app');

    </script>

    <script>
        window.onload = inMask();

        function inMask() {
            const main = document.querySelector('main')
            main.addEventListener("animationend", (e) => {
                //確認為離場動畫完成
                if (e.animationName == 'mainIn')
                {
                    main.classList.remove('in')
                }
            });
            return false
        }

        function leaveMask(e) {
            let url = e.href
            window.location.href = url;
            //待解決
            // const main = document.querySelector('main')
            // main.classList.add('leave')
            // main.addEventListener("animationend", (e) => {
            //     //確認為離場動畫完成
            //     if (e.animationName == 'mainLeave')
            //     {
            //         window.location.href = url;
            //     }
            // });
            return false
        }

    </script>
</body>

</html>