<!DOCTYPE html>
<html lang="zh-tw">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo X</title>
    <link rel="stylesheet" href="css/style.css">
    <!-- Swiper CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <!-- Aos CSS -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!-- Bgc CSS -->
    <style>
        :root {
            --bg-gradient: linear-gradient(to right, #ffffff, #fadaf8);
        }

        body {
            background: var(--bg-gradient);
        }

        .orb-canvas {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            pointer-events: none;
            z-index: -1;
        }
    </style>
</head>

<body>
    <input type="checkbox" id="menu-check">
    <input type="checkbox" id="header-check" checked>
    <input type="checkbox" id="user-check">
    <header class="main-header">
        <label class="menu-logo" for="header-check">
            <img src="https://demox.tw/static/page/setting/logo-w.d6e001a47b68.svg" alt="">
        </label>
        <div class="wrap">
            <label class="menu-header-close" for="header-check">
                <span></span>
            </label>
            <div class="logo">
                <a href="index.html">
                    <h1 class="sr-only">Demo X</h1>
                    <img src="https://demox.tw/static/page/setting/logo-w.d6e001a47b68.svg" alt="">
                </a>
            </div>
            <nav class="main-nav">
                <ul class="link-list">
                    <li class="link active">
                        <a href="search.html">探索</a>
                    </li>
                    <li class="link">
                        <a href="idea-list.html">作品</a>
                    </li>
                    <li class="link">
                        <a href="curation-list.html">策展</a>
                    </li>
                    <label class="user" for="user-check">
                        <span></span>
                        <ul class="login">
                            <li class="link">
                                <a href="https://hackmd.io/@bitify/demox">使用說明</a>
                            </li>
                            <li class="link">
                                <a href="setting-idea-add.html">建立作品</a>
                            </li>
                            <li class="link">
                                <a href="setting-curation-add.html">建立策展</a>
                            </li>
                            <li class="link">
                                <a href="setting-profile.html">個人資料</a>
                            </li>
                            <li class="link">
                                <a href="#">登出</a>
                            </li>
                        </ul>
                        <div class="user-info">
                            <p class="user-name">嗨，陳品宏</p>
                            <img class="user-pic" src="img/user.svg" alt="">
                        </div>
                    </label>
                </ul>
            </nav>
            <label class="menu-hb" for="menu-check">
                <span></span>
            </label>
        </div>
    </header>
    <canvas class="orb-canvas"></canvas>
    <main class="search" id="search">
        <!-- 我的策展 -->
        <section class="section-curation-list fade">
            <div class="container">
                <div class="search-block">
                    <p class="title rainbow-text fade">
                        <span class="text">
                            <span class="_t">探</span>
                            <span class="_t">索</span>
                            <span class="_t">點</span>
                            <span class="_t">子</span>
                        </span>
                    </p>
                    <div class="search">
                        <div class="search-bar">
                            <input type="text" v-model.lazy="search.text">
                            <button>確認</button>
                        </div>
                    </div>
                    <div class="filters">
                        <div class="filter">
                            <div class="title">類別：</div>
                            <ul>
                                <li @click="search.type = 'all'" :class="[ search.type == 'all' ? 'active' : ''  ]">全部
                                </li>
                                <li @click="search.type = 'curation'"
                                    :class="[ search.type == 'curation' ? 'active' : ''  ]">策展</li>
                                <li @click="search.type = 'idea' " :class="[ search.type == 'idea' ? 'active' : ''  ]">
                                    作品</li>
                            </ul>
                        </div>
                        <div class="filter">
                            <div class="title">標籤：</div>
                            <ul>
                                <li v-for="tag in tags" :key="tag" @click="tagHandler(tag)"
                                    :class="[ search.tags.includes(tag) ? 'active' : ''  ]" v-if="tagShowAll"> [[tag]]
                                </li>
                                <li v-for="(n,index) in 10" @click="tagHandler(tags[index])"
                                    :class="[ search.tags.includes(tags[index]) ? 'active' : ''  ]" v-else> [[
                                    tags[index] ]]
                                </li>
                                <li class="active" @click="tagShowAll = false" v-if="tagShowAll"><i
                                        class="fa-solid fa-angle-up"></i>縮合</li>
                                <li class="active" @click="tagShowAll = true" v-else><i
                                        class="fa-solid fa-angle-down"></i>更多</li>
                            </ul>
                        </div>
                    </div>
                    <div class="order">
                        <div class="title">排序：</div>
                        <ul>
                            <li @click="search.order = 'date'" :class="[ search.order == 'date' ? 'active' : ''  ]">建立日期
                            </li>
                            <li @click="search.order = 'like'" :class="[ search.order == 'like' ? 'active' : ''  ]">喜愛次數
                            </li>
                            <li @click="search.order = 'views'" :class="[ search.order == 'views' ? 'active' : ''  ]">
                                瀏覽次數
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="content" data-aos="zoom-out-up" data-aos-delay="300" data-aos-duration="1000">
                    <div class="search-with">
                        <ul>
                            <li @click="tagRemove(tag)" v-for="tag in searchArr"> [[tag.name]] </li>
                        </ul>
                    </div>
                    <template v-if="updating">
                        <div class="updating">
                            <div class="logo">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                    </template>
                    <template v-else>
                        <div class="result">
                            <div class="media-boxes">
                                <!--組件-->
                                <a :href="item.url" onclick="return leaveMask(this);" v-for="item in result.items">
                                    <article class="media-box" :class="item.type">
                                        <div class="media-image">
                                            <img :src="item.banner" alt="">
                                        </div>
                                        <div class="media-info">
                                            <div class="header">
                                                <div class="badge"></div>
                                                <ul class="popular icons">
                                                    <li class="likes"><span>[[ item.like ]]</span></li>
                                                    <li class="views"><span>[[ item.views ]]</span></li>
                                                </ul>
                                            </div>
                                            <div class="title">
                                                <p>[[ item.name ]]</p>
                                            </div>
                                            <ul class="footer icons">
                                                <li v-for="(e, key) in item.include"
                                                    :class="[ e ? 'active' : '', key ]">
                                                    <span v-if="item.type == 'curation'"> [[ e ]] </span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="media-footer">
                                            <div class="date">
                                                [[ item.date ]]
                                            </div>
                                            <span class="line"></span>
                                        </div>
                                        <div class="media-remark">
                                            <p>[[ item.depiction ]]
                                            </p>
                                        </div>
                                    </article>
                                </a>
                                <!--組件 End-->
                            </div>
                        </div>
                        <!-- <div class="no-result">
                            沒有相關搜尋結果。
                        </div> -->
                        <div class="pagination" v-if="result.pageNum >= 1">
                            <ul>
                                <li v-for="page in pagination" :class="[ search.page == page ? 'active' : ''  ]"
                                    @click="search.page = page , searchAPI('page')"> [[ page ]]</li>
                            </ul>
                        </div>
                    </template>
                </div>
            </div>
        </section>
    </main>
    <footer class="main-footer">
        <div class="container">
            <div class="main-block">
                <span class="footer-bar"></span>
                <ul class="footer-start sub-block">
                    <p class="footer-subtitle">開始使用</p>
                    <li><a href="setting-idea-list.html">DemoX Setting</a></li>
                    <li><a href="setting-idea-add.html">建立作品</a></li>
                    <li><a href="setting-curation-add.html">建立策展</a></li>
                    <li><a href="setting-profile.html?func=master_apply">成為策展人</a></li>
                    <li><a href="https://hackmd.io/@bitify/demox">使用說明</a></li>
                </ul>
                <ul class="footer-about sub-block">
                    <p class="footer-subtitle">Demo X</p>
                    <li><a href="#">OpenEdu</a></li>
                    <li><a href="#">推動大學程式設計教學計畫</a></li>
                </ul>
                <ul class="footer-rule sub-block">
                    <p class="footer-subtitle">網站規範</p>
                    <li><a href="privacy-policy.html">隱私權規範</a></li>
                    <li><a href="disclaimer.html">免責聲明</a></li>
                </ul>
                <ul class="footer-contact sub-block">
                    <p class="footer-subtitle">聯絡我們</p>
                    <li>xxxxx@demox.tw</li>
                </ul>
            </div>
            <div class="copyright">
                DEMO X © 2022
            </div>
        </div>
    </footer>
    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <!-- AOS JS -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <!-- ScrollMagic JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"
        integrity="sha256-2p2tRZlPowp3P/04Pw2rqVCSbhyV/IB7ZEVUglrDS/c=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/animation.gsap.js"
        integrity="sha256-peenofh8a9TIqKdPKIeQE7mJvuwh+J0To7nslvpj1jI=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.js"
        integrity="sha256-31FC/OT6XpfjAhj9FuXjw5/wPXXawCAjJQ29E23/XPk=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"
        integrity="sha256-lPE3wjN2a7ABWHbGz7+MKBJaykyzqCbU96BJWjio86U=" crossorigin="anonymous"></script>
    <!-- AXIOS JS -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.3/axios.min.js'
        integrity='sha512-0qU9M9jfqPw6FKkPafM3gy2CBAvUWnYVOfNPDYKVuRTel1PrciTj+a9P3loJB+j0QmN2Y0JYQmkBBS8W+mbezg=='
        crossorigin='anonymous'></script>
    <script type="module" src="js/bgc.js"></script>
    <script src="js/main.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script>
        Vue.createApp({
            data() {
                return {
                    search: {
                        text: '',
                        type: 'all',
                        tags: [],
                        order: 'date',
                        page: 1
                    },
                    result: {

                    },
                    tags: [],
                    tagShowAll: false,
                    updating: false,
                }
            },
            compilerOptions: {
                delimiters: ['[[', ']]']
            },
            created() {
                this.tagGet()
                this.searchAPI('load')
            },
            methods: {
                tagGet() {
                    axios.get('json/tags.json')
                        .then((response) => this.tags = response.data.tags)
                        .catch((error) => { console.error(error) })
                },
                tagHandler(tag) {
                    if (this.search.tags.includes(tag))
                    {
                        this.search.tags = this.search.tags.filter(e => e !== tag)
                    } else
                    {
                        //如不再添加
                        this.search.tags.push(tag)
                    }
                },
                tagRemove(tag) {
                    let name = tag.name
                    let type = tag.type
                    //如果是文字搜尋
                    if (type == 'text')
                    {
                        this.search.text = ''
                    }
                    //如果是類別
                    else if (type == 'type')
                    {
                        this.search.type = 'all'
                    }
                    //如果是tag
                    else if (type == 'tag')
                    {
                        this.search.tags = this.search.tags.filter(e => e !== name)
                    }
                },
                searchAPI(mode) {
                    //換頁
                    if(mode == 'page'){
                        
                    }
                    //一般，因此頁數歸零
                    else{
                        this.search.page = 1
                    }
                    //POST
                    axios.get('json/search.json')
                        .then((response) => {
                            this.result = response.data
                            //延遲顯示
                            setTimeout(() => {
                                this.updating = false
                            }, 2000);
                        })
                        .catch((error) => { console.error(error) })
                },
            },
            computed: {
                searchArr() {
                    let data = []
                    //先填入文字
                    if (this.search.text)
                    {
                        data.push({ 'name': `"${this.search.text}"`, 'type': 'text' })
                    }
                    //填入類別
                    if (this.search.type && this.search.type != 'all')
                    {
                        let text
                        if (this.search.type == 'curation')
                        {
                            text = '僅搜尋策展'
                        }
                        else if (this.search.type == 'idea')
                        {
                            text = '僅搜尋作品'
                        }
                        data.push({ 'name': text, 'type': 'type' })
                    }
                    if (this.search.tags)
                    {
                        this.search.tags.forEach(tag => {
                            data.push({ 'name': tag, 'type': 'tag' })
                        });
                    }
                    return data
                },
                pagination() {
                    let data = []
                    let pageCurrent = this.search.page
                    let pageNum = this.result.pageNum
                    let pageStart = 0
                    let pageEnd = 0
                    //如果總數低於10頁
                    if (pageNum <= 10)
                    {
                        pageStart = 1
                        pageEnd = pageNum
                    }
                    //如果大於10頁
                    else
                    {
                        //位於前五頁內
                        if (pageCurrent <= 5)
                        {
                            pageStart = 1
                            pageEnd = 10
                        }
                        //位於後五頁內
                        else if (pageNum - pageCurrent < 5)
                        {
                            pageStart = pageNum - 9
                            pageEnd = pageNum
                        }
                        else
                        {
                            pageStart = pageCurrent - 5
                            pageEnd = pageCurrent + 4
                        }

                    }
                    data = Array.from({ length: pageEnd - pageStart + 1 }, (_, i) => i + pageStart)
                    return data
                }
            },
            watch: {
                //觀察資料，但不觀察search.page
                'search.text'() {
                    this.searchAPI()
                },
                'search.type'() {
                    this.searchAPI()
                },
                'search.tags': {
                    handler(newValue, oldValue) {
                        this.searchAPI()
                    },
                    deep: true
                },
                'search.order'() {
                    this.searchAPI()
                },

            }
        }).mount('#search');
    </script>

    <script>
        AOS.init();
    </script>

    <!-- ScrollMagic scene -->
    <script>
        let controller = new ScrollMagic.Controller();
        const anim = TweenMax.fromTo(document.querySelector(".search-block"), 1, { opacity: 1, scale: 1 }, { opacity: .1, paddingBottom: 0 })
        let scene0 = new ScrollMagic.Scene({
            duration: 100,
            triggerElement: document.querySelector('.content'),
            triggerHook: 0.2,
        })
            .setTween(anim)
            .addTo(controller);
    </script>

</body>

</html>