<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DEMOX | 設定</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.css" />
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css"
        rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="page/setting/css/select2theme.css" />

    <link rel="stylesheet" href="page/setting/css/dashboard.css" />
    <link rel="stylesheet" href="page/setting/css/dashboard-color.css" />
    <link rel="stylesheet" href="page/setting/css/dashboard-path.css" />
    <link rel="stylesheet" href="page/setting/demox_module/demox_module.css" />


    <link rel="stylesheet" href="page/cropper/cropper.css">
    <!-- {% block STYLEontent %}

    {% endblock %} -->
</head>

<body class="gray">
    <div class="wrap">
        <div class="sideBar">
            <nav>
                <button class="app-menu">
                    <i class="fas fa-bars"></i>
                </button>
                <a class="logo" href="index.html">
                    <img src="page/setting/logo-w.svg" height="30" />
                </a>
                <a href="#" class="item" data-name="index">
                    <span>Demo X 控制台</span>
                </a>
                <a href="setting-curation-list.html" class="item" data-name="curation">
                    <i class="far fa-copy"></i>
                    <span>策展</span>
                </a>
                <a href="setting-idea-list.html" class="item active" data-name="idea">
                    <i class="far fa-file"></i>
                    <span>作品</span>
                </a>
                <a href="setting-profile.html" class="item" data-name="profile">
                    <i class="far fa-id-badge"></i>
                    <span>個人資料</span>
                </a>
                <button class="mode" id="btn-mode"></button>
                <button class="back" id="btn-close-dashboard">
                    <i class="fas fa-arrow-left"></i>離開編輯模式
                </button>
            </nav>
        </div>
        <div class="main">
            <div class="path">
                <ul></ul>
            </div>
            <h2 class="title"></h2>
            <!--modal-->
            <div class="modal fade" id="PublicModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="title">作品公開說明書</h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">×</span></button>
                        </div>
                        <div class="modal-body">
                            <div class="container">
                                本人（即立同意書人）願意將此作品公開於DEMO X(本平台)，特此聲明並
                                同意下列事項：<br>
                                一、本人所提交之參賽作品，係出於本人之原始創作，絕無抄襲、仿冒、剽竊等侵害他人智慧財產權或其他權利之情事，如有違反，本人願負相關之法律責任。<br>
                                二、著作財產權權歸屬於原作者，DEMO X不會將您的作品公開於其他平台或再製，但您的作品可能會被展示於首頁。<br>
                                三、如作品有違反本站規定，我們有權利在尚未與您聯繫前先行將其隱藏或刪除。
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                onclick="is_authed_btn(false)">
                                不同意
                            </button>
                            <button type="button" class="btn btn-primary" onclick="is_authed_btn(true)">同意</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="bannerModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">
                                <h3 class="title">封面圖片 (請至少設定一張16:9的圖片)</h3>
                            </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="img-container">
                                <img id="image" src="" class="img-fluid" alt="Picture" />
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                取消
                            </button>
                            <button type="button" id="btnCrop" class="btn btn-info">
                                裁切
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-hidden="true"></div>
            <!--modal-->
            <div class="content-boxs" id="app">
                <div class="content-box funcMenu">
                    <ul>
                        <a href="setting-idea-list.html?func=list_idea">
                            <li data-name="list_idea">
                                <i class="far fa-file fa-fw"></i>
                                作品列表
                            </li>
                        </a>
                        <a href="setting-idea-add.html?func=add_idea">
                            <li data-name="add_idea">
                                <i class="fas fa-plus fa-fw"></i>
                                新增作品
                            </li>
                        </a>
                        <a href="setting-idea-observe.html?func=view_idea">
                            <li data-name="view_idea">
                                <i class="far fa-eye fa-fw"></i>
                                作品觀摩
                            </li>
                        </a>
                    </ul>
                </div>
                <div class="content-box stepMenu">
                    <ul>
                        <li data-step="1" class="active">
                            <span>Step1</span>
                            基本資料
                        </li>

                        <li data-step="2">
                            <span>Step2</span>
                            縮圖設定
                        </li>

                        <li data-step="3">
                            <span>Step3</span>
                            作品文件
                        </li>

                        <li data-step="4">
                            <span>Step4</span>
                            公開作品
                        </li>

                        <li data-step="5">
                            <span>Step5</span>
                            加入策展
                        </li>
                    </ul>
                </div>

                <div class="content-box step-box box-9 show" data-step="1">
                    <h3 class="title">基本資料</h3>
                    <div class="form-group">
                        <label for="ideaName">作品名稱</label>
                        <input type="text" id="ideaName" v-model="idea.name" required="required" />
                    </div>
                    <div class="form-group">
                        <label for="ideaDescription">作品說明(限100字)</label>
                        <textarea id="ideaDescription" v-model="idea.description" required="required" rows="8"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="unit">選擇分類(可複選、新增)</label>
                        <select class="form-control js-example-tokenizer finish" multiple="multiple"
                            id="Select"></select>
                    </div>
                    <div class="btn-group">
                        <button class="prevBtn">上一步</button>
                        <button class="nextBtn">下一步</button>
                    </div>
                </div>

                <div class="content-box step-box box-9 " data-step="2">
                    <div class="pic-group">
                        <label>上傳封面圖片 (請至少設定一張16:9的圖片)</label>
                        <div class="module_box module_box_banner" id="banner_1">
                            <img src="" class="img-fluid" width="100%" alt="" />
                        </div>
                        <label for="bannerUpload" class="inputFile">
                            <input type="file" name="image" id="bannerUpload" class="bannerUpload"  required="required" />
                        </label>
                    </div>

                    <div class="btn-group">
                        <button class="prevBtn">上一步</button>
                        <button class="nextBtn">下一步</button>
                    </div>
                </div>
                <div class="content-box step-box box-9" data-step="3">
                    <div id="module"></div>
                    <div id="module_add">
                        <div class="module_add_btn_box">
                            <h3 class="title">新增組件</h3>
                            <div class="module_add_btn_list">
                                <button onclick="module_add('Google')" type="button"
                                    class="module_add_btn module_add_btn_google col">
                                    <i class="fab fa-google"></i>
                                    <span class="name">Google Slide</span>
                                </button>
                                <button onclick="module_add('Youtube')" type="button"
                                    class="module_add_btn module_add_btn_youtube col">
                                    <i class="fab fa-youtube"></i>
                                    <span class="name">Youtube</span>
                                </button>
                                <button onclick="module_add('PDF')" type="button"
                                    class="module_add_btn module_add_btn_pdf col">
                                    <i class="fas fa-file-pdf"></i>
                                    <span class="name">PDF</span>
                                </button>
                                <button onclick="module_add('Git')" type="button"
                                    class="module_add_btn module_add_btn_git col">
                                    <i class="fas fa-link"></i>
                                    <span class="name">網頁連結</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="btn-group">
                        <button class="prevBtn">上一步</button>
                        <button class="nextBtn">下一步</button>
                    </div>
                </div>

                <div class="content-box step-box box-9" data-step="4">
                    <div class="switch-group">
                        <div class="switch-info">
                            <h5>公開於DEMO X</h5>
                            <p>是否同意此作品公開策展於DEMOX、策展及被搜尋。</p>
                        </div>
                        <div class="switch-btn">
                            <input type="checkbox" id="public_mode_btn" data-toggle="toggle" data-on="公開" data-off="隱藏"
                                data-onstyle="success" data-offstyle="secondary" data-width="100%" />
                        </div>
                    </div>
                    <div class="btn-group">
                        <button class="prevBtn">上一步</button>
                        <button class="nextBtn">下一步</button>
                    </div>
                </div>

                <div class="content-box step-box box-9" data-step="5">
                    <div class="form-group input-button">
                        <input type="text" placeholder="請輸入想您加入的策展邀請代碼。" id="curation_join_code" />
                        <button onclick="api_curation_verify()">驗證代碼</button>
                    </div>
                    <div id="curation_join_box"></div>
                    <div class="btn-group">
                        <button class="prevBtn">上一步</button>
                        <button class="submitBtn" @click="submitIdea" :disabled=" isUpload ">送出</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrap-animation"></div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.14/vue.js'></script>

    <script src="page/setting/js/dashboard.js"></script>
    <script src="page/setting/js/dashboard-color.js"></script>
    <script src="page/setting/js/dashboard-path.js"></script>
    <script src="page/web/url.js"></script>
    <!-- {% block JScontent %} -->

    <script>
        const componentApiUrl = '{% url "idea:component_api" %}';
        const ideaApiUrl = '{% url "idea:api" %}';
        const categoryApiUrl = '{% url "idea:category_api" %}';
        const curationVerifyApiUrl = '{% url "curation:verify_api" %}';
        const curationGetApiUrl = '{% url "curation:get_api" %}';
        const curationJoinApiUrl = '{% url "curation:join_api" %}';
    </script>

    <script src="page/setting/idea/idea.js"></script>
    <script src="page/setting/demox_module/idea_module.js"></script>
    <script>
        let vm = new Vue({
            delimiters: ['[[', ']]'],
            el: "#app",
            data: {
                idea: {
                    name: '',
                    description: '',
                },
                isUpload: false,
            },
            created() {
                //select2
                axios
                    .get(categoryApiUrl, {
                        headers: { 'X-CSRFToken': $('input[name="csrfmiddlewaretoken"]').val() },
                    })
                    .then((res) => {
                        $(".js-example-tokenizer").select2({
                            tags: true,
                            tokenSeparators: [',', ' '],
                            data: res.data,
                            placeholder: "請選擇",
                        })
                    })
                    .catch((err) => {
                        new Noty({ type: 'error', text: '獲取分類錯誤!', timeout: 2000, }).show();
                    })
            },
            methods: {
                submitIdea() {
                    if (finishCheck() && !this.isUpload)
                    {
                        this.isUpload = true;
                        axios
                            .post(ideaApiUrl, this.submitData, {
                                headers: { 'X-CSRFToken': $('input[name="csrfmiddlewaretoken"]').val() },
                            })
                            .then((res) => {
                                api_curation_join(res.data.id)
                                new Noty({ type: 'success', text: '新增成功!', timeout: 2000, }).show();
                            })
                            .catch((err) => {
                                this.isUpload = false;
                                new Noty({ type: 'error', text: '錯誤!', timeout: 2000, }).show();
                            })

                    } else
                    {
                        this.isUpload = false;
                        new Noty({ type: 'error', text: '部分資料未填寫完成。', timeout: 2000, }).show();
                    }
                },
            },
            computed: {
                submitData() {
                    let submitData = new FormData();
                    submitData.append('name', this.idea.name);
                    submitData.append('description', this.idea.description);
                    submitData.append('categories', JSON.stringify(selectSubmit()));
                    submitData.append('components', JSON.stringify(componentSubmit()));
                    submitData.append('cover_image', bannerSubmit());
                    submitData.append('public_mode', publicSubmit());
                    submitData.append('is_authed', publicSubmit() === 'public');
                    return submitData
                }
            }
        });
    </script>
    <!-- {% endblock %} -->

    <script src="page/setting/js/dashboard-step.js"></script>
    <!-- {#----------Cropper----------#} -->
    <script src="page/cropper/cropper.js"></script>
    <script src="page/cropper/cropper_custom.js"></script>


</body>

</html>